{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<script>
window.onload = function() {
  document.getElementById('username').addEventListener('submit', function() {
    Array.prototype.forEach.call(this.elements, function(el) {
      el.disabled = el.value == '';
    });
  }, false);
};
</script>
<div class="jumbotron">
  	<h1>Redditor Search</h1>
  	<p class="important">
    	Look up any Redditor and see their top comments in a word cloud!
  	</p>
	<form method="get" action="" id='username' onsubmit="disableEmptyInputs(this)">
    	{{ render_field(form.username) }}
	</form>
	<div>
		<script> 
      var comments = {{ comments|tojson|safe }};
      var top_words = JSON.parse(comments)


      // Word cloud layout by Jason Davies, https://www.jasondavies.com/wordcloud/
      // Algorithm due to Jonathan Feinberg, http://static.mrfeinberg.com/bv_ch03.pdf
      var fill = d3.scaleOrdinal(d3.schemeCategory20);

      var layout = d3.layout.cloud()
          .size([375, 500])
          .words(top_words.map(function(d) {
            return {text: d, size: 10 + Math.random() * 90, test: "haha"};
          }))
          .padding(5)
          .rotate(function() { return ~~(Math.random() * 2) * 90; })
          .font("Impact")
          .fontSize(function(d) { return d.size; })
          .on("end", draw);

      layout.start();

      function draw(words) {
        d3.select("body").append("svg")
            .attr("width", layout.size()[0])
            .attr("height", layout.size()[1])
          .append("g")
            .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
          .selectAll("text")
            .data(words)
          .enter().append("text")
            .style("font-size", function(d) { return d.size + "px"; })
            .style("font-family", "Impact")
            .style("fill", function(d, i) { return fill(i); })
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; });
      }
    </script>
  	</div>
</div>
{% endblock %}
